.main {
    position: relative;
    display: flex;
    flex-direction: flex-column;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 767px) {
    .main {
        height: 250vh;
    }
}